{% extends 'base.html.twig' %}

{% block title %} Mon espace {% endblock %}
{% block body %}
    {% set infos = user_infos %}
    {% set services = infos.services %}
    {% set resources = infos.resources %}
    {% set registered_events = infos.registeredEvents %}
    <div>
        {% include '/component/_profile_edit.html.twig' %}
    </div>
    {% if is_granted("ROLE_CONTRIBUTOR") %}
        <div class="show-items">
            {% include '/component/_service_edit.html.twig' %}
        </div>
        <div class="d-flex flex-column align-items-start">
            <div style="height:20px"></div>
        </div>
    {% endif %}
{% endblock %}
