{% extends 'base.html.twig' %}

{% block title %} Mon espace {% endblock %}
{% block body %}
{% set infos = user_infos %}
<div>
    {% include '/component/_profile_edit.html.twig' %}
</div>
<div>
    {% include '/component/_service_edit.html.twig' %}
</div>
<div class="d-flex justify-content-center">
    <div class="profile-separation"></div>
</div>
<div>
    {% include '/component/_newfiche_edit.html.twig' %}
</div>
<div>
    {% include '/component/_newservice_edit.html.twig' %}
</div>
<div>
    {% include '/component/_newevent_edit.html.twig' %}
</div>
<div class="d-flex flex-column align-items-start">
    <div style="height:20px"></div>
</div>

{% endblock %}
