{% extends 'home.html.twig' %}

{% block title %}
    Bienvenue
{% endblock %}

{% block body_home %}
    <div class="vh-100 vw-100 home-full-screen">
        <div class="home-page container-fluid container-table">
            <div class="row vertical-center-row">
                <div class="card col-6 m-auto card-radius">
                    <div>
                        <div class="-align-right mt-1">
                            <div class="close">
                                <a href="/"><i class="fas fa-times-circle fa-2x"></i></a>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="text-center p-1 card-title home-form-title">Je me connecte :</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center px-1 home-form">Adresse e-mail :</div>
                        <div></div>
                    </div>
                    <div class="row">
                        <div class="text-center p-1 home-form">Mot de passe :</div>
                        <div></div>
                    </div>
                    <div class="row justify-content-between pt-3">
                        <div class="col-5 p-3 ml-2 home-form-lg">
                            <a href="/register" class="non_underline home-form">Je ne suis pas encore inscrit</a>
                        </div>
                        <div class="col-md-6 text-center home-form-lg">
                            <div class="home-btn-second">
                                <a href="#" class="non_underline">Valider</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
