{% extends 'base.html.twig' %}

{% block title %} A propos {% endblock %}
{% block body %}
    <div class="container-fluid-propos">
        <div class="d-flex justify-content-center">
            <h2 class="page-title">A propos</h2>
        </div>
        <div class="container-fluid-propos-cliente">
            <div>
                <h3 class="part-title">Dr. Alexandra JACOB</h3>
            </div>
            <div class="row justify-content-start">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <div class="">
                        <p>Après l'obtention d'un master en neuropsychologie, elle s'oriente vers la diététique, car
                            outre le fait d'être fascinée par la compréhension de l'humain, elle a au fil des années
                            compris que'elle avait cette envie, plutôt ce besoin d'écouter et d'aider les autres.
                        </p>
                        <p>Elle a donc obtenu son diplôme de diététicienne nutritionniste pour accompagner les personnes
                            dans un meilleur état de santé, quelque soit l'âge, la culture, les habitudes de vie, etc..
                        </p>
                        <p>Elle travaille aujourd'hui avec le plaisir de vous écouter avec bienvaillance, sans jugement,
                            et de vous guider au mieux afin d'optimiser votre bien-être et votre santé.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="img-container">
                        <img src="https://picsum.photos/400/200?random=70" alt="photo du service proposé">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid-propos-site">
            <div>
                <h3 class="part-title">Pourquoi ce site?</h3>
            </div>
            <div class="row justify-content-start">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <div class="img-container">
                        <img src="https://picsum.photos/400/200?random=60" alt="photo du service proposé">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <p>La connaissance, c'est le savoir qui nous fait grandir.</p>
                        <p>C'est en faisant le constat qu'il n'y avait pas de plateforme collaborative de partage de
                            ressources, qu'Alexandra JACOB a décidé de faire réaliser une application web permettant aux
                            utilisateurs de principalement partager leurs ressources, ainsi que de proposer différents
                            services (visioconférences, formations, applications, ...).
                            formations ou services.</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
