{% extends 'base.html.twig' %}

{% block title %} A propos {% endblock %}
{% block body %}
    <div class="container-fluid-propos">
        <div class="d-flex justify-content-center">
            <h2 class="page-title">A propos</h2>
        </div>
        <div class="container-fluid-propos-cliente">
            <div>
                <h3 class="propos-part-title">Alexandra JACOB</h3>
            </div>
            <div class="row justify-content-start">
                <div class="col-lg-2"></div>
                <div class="col-lg-5 d-flex align-items-center">
                    <div class="m-4">
                        <p>
                            Je bifurque vers la diététique après mon master de neuropsychologie et quelques années de
                            questionnement quant à mon avenir pro. Après le diplôme en 2016 et quelques remplacements en
                            hôpital, je me lance dans le libéral pour pouvoir avoir plus de temps pour ma famille et mes
                            autres passions et projets.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 propos-img-container m-4">
                        <img src="https://picsum.photos/400/200?random=70" alt="photo du service proposé">
                </div>
            </div>
        </div>
        <div class="container-fluid-propos-site">
            <div>
                <h3 class="propos-part-title-margin propos-part-title">Pourquoi ce site ?</h3>
            </div>
            <div class="row justify-content-start">
                <div class="col-lg-2"></div>
                <div class="col-lg-3 propos-img-container m-4">
                        <img src="https://picsum.photos/400/200?random=60" alt="photo du service proposé">
                </div>
                <div class="col-lg-5">
                    <div class="m-4">
                        <p>La connaissance, c'est le savoir qui nous fait grandir.</p>
                        <p>
                            Derrière la diététique il y a des diététiciens : Des diététiciens qui continuent de s’enrichir,
                            de chercher des formations, d’actualiser leurs connaissances. Mais aussi des diététiciens qui
                            créent, qui souhaitent faire évoluer le métier en proposant des formations, des e-book, en
                            partageant leur savoir sur les réseaux sociaux pour aider les collègues, en proposant des
                            services spécifiques qui faciliteraient la visibilité et le travail du diététicien.
                        </p>
                        <p>
                            J’avais envie de regrouper tout ce qu’ils pouvaient apporter pour enrichir le métier dans un
                            même endroit virtuel, et j’ai eu l’idée d’une plateforme de partage de ressources qui permettrait
                            aux diététiciens de trouver les connaissances, services et formations qui leur seraient utiles,
                            et de l’autre côté, de rendre encore plus visible la créativité et la compétence de mes collègues.</p>
                        <p>
                            Bien sûr, le projet n’aurait pas pu aboutir sans la construction du site par l’équipe de  futurs
                            développeurs web avec qui j’ai eu la chance de travailler pendant 2 mois. Ils ont su comprendre
                            parfaitement le projet et mes envies et l’ont ancré dans la réalité avec beaucoup de talent.
                        </p>
                        <p>
                            Ce n’est que le début de l’aventure : l’évolution du site continue avec de très belles personnes
                            pour l’améliorer et répondre au mieux à vos besoins !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
