<form method="post" action="{{ path('service_delete', {'id': service.id}) }}" onsubmit="return confirm('Es-tu sûre de vouloir supprimer ce service ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="delete-btn"><i class="far fa-times-circle fa-2x justify-content-center"></i></button>
</form>
