<form method="post" action="{{ path('knowledge_delete_resourceFile', {'id': resourceFile.id}) }}" onsubmit="return confirm('Es-tu sûre de vouloir supprimer cette image ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resourceFile.id) }}">
    <button class="delete-btn"><i class="far fa-times-circle fa-1x"></i></button>
</form>
