{% extends 'base.html.twig' %}

{% block title %} Page admin {% endblock %}
{% block body %}
    <div class="d-flex justify-content-center">
        <h2 class="page-title">• Admin •</h2>
    </div>
{% endblock %}
