{% extends 'base.html.twig' %}

{% block title %}Liste des connaissances{% endblock %}

{% block navbar %}{% include 'component/_nav.html.twig' %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center search-bar">
        <h2>Barre de recherche à développer</h2>
    </div>
    <div class="d-flex justify-content-center ressource-caroussel">
        <p>Ceci est un carrousel</p>
    </div>
    <div class="d-flex justify-content-center">
        <h2>Notre prochain événement est : {# titre de l'événement #}, {#date#} - {#heure#}</h2>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-between">
          {% include '/component/_card.html.twig' %}
            {% include '/component/_card.html.twig' %}
            {% include '/component/_card.html.twig' %}
            {% include '/component/_card.html.twig' %}
            {% include '/component/_card.html.twig' %}
            {% include '/component/_card.html.twig' %}
            {% include '/component/_card.html.twig' %}
            
        </div>
    </div>
    {% include '/component/_card.html.twig' %}
{% endblock %}