<form method="post" action="{{ path('admin_delete_resourceFormat', {'id': format.id}) }}" onsubmit="return confirm('Es-tu sûr(e) de vouloir supprimer ce format de ressource ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ format.id) }}">
    <button class="delete-btn"><i class="far fa-times-circle fa-2x justify-content-center"></i></button>
</form>
