.admin-page {
  .admin-title {
    background-image: url('/build/images/image-ressource.19d4737e.jpg');
    background-size: 110em;
    justify-content: center;
    margin: 0 auto;
    width: 80%;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: $police-text;

    border-style: double;
    border-color: $main-orange;
    padding-top: 0.5em;
    color: $main-green;
    font-weight: bold;
    border-radius: 20px;
  }

  .page-title {
    margin-top: 3em;
    margin-bottom: 0;
    border-style: double;
    border-color: $main-orange;
    padding: 0.25em 0.5em;
    color: $main-green;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
  }

  .block-list {
    margin: 10px 10px 30px 30px ;
  }

  h4 {
    color: $color-h3!important;
    margin-bottom: 10px!important;
  }
  .users-list {
    height: 200px;
    overflow-y: scroll;
  }

  .container {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .admin-count {
    display: flex;
    align-items: center;
    font-size: $fs-h4;
    padding: 0 1em;
    margin: 0 0 0.5em 0;
    border: solid;
    border-radius: 0.5em;
    border-width: 0.1em 0.2em;
    border-color: $main-green;
    background-color: $main-white;
  }

  .admin-count-title {
    display: flex;
    color: $main-white;
    background-color: $main-green;
    font-size: $fs-h5;
    padding: 0.1em 1em;
    border: solid;
    border-radius: 1em;
    border-color: $main-green;
    margin-bottom: 2em;
  }

  .admin-create {
    display: flex;
    input {
      border-color: $main-black;
    }
  }

  .user-link {
    font-size: $fs-h4;
    color: $main-black;
    &:hover {
      color: $main-green;
      text-decoration-color: $main-orange;
    }
  }

  .delete-btn {
    align-items: center;
    color: $main-orange;
    &:hover {
      color: $main-red;
    }
  }

  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
}

@media screen and (max-width: 972px) {
  .admin-page {
    .admin-count-block {
      margin-top: 2em;
    }
    .admin-create {
      display: grid;
      .col-3 {
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;
      }
      .col-4 {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
  }
}

@media screen and (max-width: 769px){
  .admin-page {
    .admin-create {
      .col-4 {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    .page-title {
      font-size: $fs-h3;
    }
    .admin-count-block {
      flex: none;
      justify-content: center;
      margin-top: 2em;
      .col-3 {
        flex: none;
        max-width: 100%;
        justify-content: center;
      }
    }
  }
}


@media screen and (max-width: 350px) {
  .admin-page {
    .admin-create {
      .col-3 {
        margin: 0;
        max-width: 75%;
      }
    }
  }
}
