.custom-file-input {
  opacity: 100% !important;
}
.event-img {
  height: 40em;
  background-image: url('../images/louis-hansel-shotsoflouis-6Zor4BJCujY-unsplash.jpg');
  background-size: 120em;
  display: flex;
  justify-content: center;
  .page-event {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 3em;
    font-family: $police-text;
    width: auto;
    border-style: double;
    border-color: $main-orange;
    height: 40%;
    padding-top: 0.5em;
    color: $main-green;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5em;
  }
}
.event-block-title{
  border-bottom: solid;
  border-bottom-color: #d4a301;
}

.event {
  .page-title {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .form-modal-event {
    .btn {
      display: table-cell;
      background-color: $main-green;
      color: white;
      border-radius: 500px;
      margin: 1rem;
      padding: 5px 16px;
      transition: 0.5s;

      &:hover {
        font-weight: bold;
        background-color: #38ba92;
      }

      a {
        text-decoration: none;
        color: $main-white;
        font-size: 26px;
      }
    }
  }
  .calendrier-form {
    position: absolute;
    margin-left: 2em;
  }
  .button-calendar {
    display: table-cell;
    background-color: $main-orange;
    color: white;
    border-radius: 500px;
    margin:1rem;
    padding:5px 16px;
    transition: 0.5s;
    &:hover{
      font-weight: bold;
      background-color: #e5bc70;
    }
    a {
      text-decoration: none;
      color: $main-white;
      font-size: 26px;
    }
  }
  .text-container {
    margin-top: 0;
    margin-bottom: 2em;
    padding-right: 0.5em;
    padding-left: 20px;
  }
  .bloc-img {
    padding-right: 0;
    width: 100%;
  }
  .container-img-txt {
    justify-content: flex-end !important;
  }
  .tri {
    justify-content: flex-end;
  }
  .picture-event{
    max-width: 350px;
    height: 200px;
    object-fit: cover;
  }
  .search {
    margin-bottom: 6em;
    form {
      display: flex;
      justify-content: center;
      margin-left: 1em;
    }
    .search-button{
      padding: 7px 7px;
      border-radius: 20px;
      margin: 14px;
      margin-top: 23px;
      font-weight: bold;
      text-transform: none;
      color: white;
      background-image: linear-gradient(to right, $main-orange 0%, #ffdc58 51%, $main-orange 100%);
    }
    input {
      width: 500px;
      border-radius: 20px;
      height: 40px;
      font-size: 20pt;
      outline-width: 0;
    }
    label{
      display: none;
    }
    select{
      display: none;
    }
  }
  .form-modal {
    .event-button {
      display: table-cell;
      background-color: $main-green;
      color: white;
      border-radius: 500px;
      margin:1rem;
      padding:5px 16px;
      transition: 0.5s;
      &:hover{
        font-weight: bold;
        background-color: #38ba92;
      }
      a {
        text-decoration: none;
        color: $main-white;
        font-size: 26px;
      }
    }
    button {
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      text-decoration: none;
      color: $main-white;
      font-size: 26px;
    }

    .event-block-title{
      border-bottom: solid;
      border-bottom-color: #d4a301;
      width:80%;
      justify-content: space-between;
    }

    h3 {
      margin-top: 20px;
    }
    .close {
      color: $main-red;
    }
  }
}

#event_picture_pictureFile_file{
  overflow: hidden;
}

@media screen and (max-width: 1200px){
  .search {
    input {
      width: 90%;
    }
  }
  .text-container{
    margin: 1em 4em;
  }
  .event-img{
    background-size: 80em;
  }
  .responsive {
    margin-left: 8em;
  }
}
@media screen and (max-width: 834px) {
  .search {
    #search_resource {
      margin-left: 0;
      input {
        width: 90%;
      }
    }
    .search-text {
      display: none;
    }
    .search-loop {
      display: flex;
      width: 40px;
      height: 40px;
      font-size: 18pt;
      margin-bottom: 0;
    }
  }
  .responsive {
    margin-left: 0;
  }
}

@media screen and (max-width: 770px) {
  .search {
    input {
      width: 90%;
    }
  }
  .text-container {
    margin: 1em 4em;
  }
}
  @media (min-width: 530px) and (max-width: 550px) {
    .search {
      #search_resource {
        form {
          align-items: center;
          margin-right: 2em;
        }
        input {
          width: 90%;
        }

      }
    }
  }
@media (min-width: 450px) and (max-width: 530px) {
  .event {
  .event-img {
    background-size: 62em;
    .page-event {
      background-color: transparent;
      font-size: 2em;
      width: auto;
      border-color: transparent;
      height: 40%;
      padding-top: 0.5em;
      color: $main-green;
      font-weight: bold;
      border-radius: 20px;
      margin-top: 5em;
    }
  }
  .search {
    .search-button{
      margin-top: 0.4em;
      margin-left: 0;
    }
    #search_resource {
      form {
        align-items: center;
        margin-right: 2em;
      }
      input {
        width: 90%;
      }


    }
  }
}

}

  @media (min-width: 350px) and (max-width: 450px) {
    .event {
      .picture-service {
        width: 350px;
      }

      .container-fluid{
        padding-left: 0;
        .descript{
          padding-left: 0;
        }
      }
      .event-img {
        background-size: 62em;

        .page-event {
          background-color: transparent;
          font-size: 2em;
          width: auto;
          border-color: transparent;
          height: 40%;
          padding-top: 0.5em;
          color: $main-green;
          font-weight: bold;
          border-radius: 20px;
          margin-top: 5em;
        }
      }

      .search {
        form {
          flex-direction: column;
          margin-left: 0;
        }
        .search-button{
          width:50%;
          justify-content: center;
          margin-left: 25%;
        }
        #search_resource {
          form {
            align-items: center;
            margin-right: 50px;
          }
          input {
            width: 90%;
          }
        }
      }
    }
  }

  @media (min-width: 250px) and (max-width: 350px) {
    .event {
      .picture-service {
        width: 270px;
      }
      .container-fluid{
        padding-left: 0;
      }
      .event-img {
        background-size: 62em;

        .page-event {
          background-color: transparent;
          font-size: 2em;
          width: auto;
          border-color: transparent;
          height: 40%;
          padding-top: 0.5em;
          color: $main-green;
          font-weight: bold;
          border-radius: 20px;
          margin-top: 5em;
        }
      }

      .search {
        form {
          flex-direction: column;
          margin-left: 0;
        }
        .search-button{
          width:50%;
          justify-content: center;
          margin-left: 25%;
        }
        #search_resource {
          form {
            align-items: center;
            margin-right: 50px;
          }
          input {
            width: 90%;
          }
        }
      }
    }
  }



