.event {
  .calendrier-form {
    position: absolute;
    margin-left: 2em;
  }
  .container-fluid {
    display: flex;
    justify-content: flex-end;
  }
  .text-container {
    margin-top: 0;
    margin-bottom: 2em;
    padding-right: 0.5em;
    padding-left: 20px;
  }
  .bloc-img {
    padding-right: 0;
    width: 100%;
  }
  .container-img-txt {
    justify-content: flex-end !important;
  }
  .tri {
    justify-content: flex-end;
  }
  .picture-event{
    width: 400px;
    height: 200px;
  }

  .search {
    margin-bottom: 6em;
    form {
      display: flex;
      justify-content: center;
      margin-left: 5em;
    }
    .search-button{
      padding: 7px 7px;
      margin-left: 10px;
      border-radius: 20px;
      margin-top: 0;
      background-image: linear-gradient(to right, $main-orange 0%, #ffdc58 51%, $main-orange 100%);
    }
    input {
      width: 500px;
      border-radius: 20px;
      height: 40px;
    }
  }
}
