.event {
  .calendrier-form {
    position: absolute;
    margin-left: 2em;
  }
  .button-calendar {
    padding: 3px 7px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 0;
    transition: 0.5s;
    background-size: 200% auto;
    font-weight: bold;
    background-image: linear-gradient(to right, $main-blue 0%, #96e1ef 51%, $main-blue  100%);
      &:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
    }


  }


  .container-fluid {
    display: flex;
    justify-content: flex-start;
  }
  .text-container {
    margin-top: 0;
    margin-bottom: 2em;
    padding-right: 0.5em;
    padding-left: 20px;
  }
  .bloc-img {
    padding-right: 0;
    width: 100%;
  }
  .container-img-txt {
    justify-content: flex-end !important;
  }
  .tri {
    justify-content: flex-end;
  }
  .picture-event{
    max-width: 300px;
    height: 250px;
    object-fit: cover;
  }

  .search {
    margin-bottom: 6em;
    form {
      display: flex;
      justify-content: center;
      margin-left: 5em;
    }
    .search-button{
      padding: 7px 7px;
      margin-left: 10px;
      border-radius: 20px;
      margin-top: 0;
      font-weight: bold;
      text-transform: none;
      background-image: linear-gradient(to right, $main-orange 0%, #ffdc58 51%, $main-orange 100%);
    }
    input {
      width: 500px;
      border-radius: 20px;
      height: 40px;
    }
    label{
      display: none;
    }
    select{
      display: none;
    }
  }

  .form-modal {
    .event-button {
      display: table-cell;
      background-color: $main-green;
      color: white;
      border-radius: 500px;
      margin:1rem;
      padding:5px 16px;
      transition: 0.5s;
      &:hover{
        font-weight: bold;
        background-color: #18e48d;
      }
      a {
        text-decoration: none;
        color: $main-white;
        font-size: 26px;
      }
    }
    button {
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      text-decoration: none;
      color: $main-white;
      font-size: 26px;
    }
    h3 {
      margin-top: 20px;
    }
    .close {
      color: $main-red;
    }
  }
}

@media screen and (max-width: 1200px){
  .text-container{
    margin: 1em 4em;
  }
}

@media screen and (max-width: 770px){
  .text-container{
    margin: 1em 4em;
  }
}
