    footer {
        background: $bg-footer;
        color: $bg-body;
        position: relative;
        margin-top:100px;
        width: 100%;
        bottom: 0;
    }

    footer a {
        color: $bg-body;
        font-size: 14px;
        transition-duration: 0.2s;
    }

    footer a:hover {
        color: $bg-navbar;
        text-decoration: none;
    }

.mainfooter {
    .copy {
        font-size: 12px;
        padding: 10px;
        border-top: 1px solid $bg-body;
    }
    .p {
        color: white !important;
    }

    .footer-middle {
        padding-top: 2em;
        color: $bg-body;
        margin-left: 5em;
        margin-right: 5em;

    }

    .row-footer {
        justify-content: center;
    }

@media screen and (min-width: 1000px) {
    .mainfooter {
        .container .row{
            display:flex;
            justify-content:center;
        }
        .footer-middle{
            display:flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1000px) {
    .mainfooter {
        .social-network, .social-circle {
            padding-left: 0;
        }
        .row-footer {
            display:flex;
            margin-top: 0;
        }
        .footer-middle{
            display:block;
        }
    }
}

@media screen and (max-width: 767px) {
    .mainfooter {
        display: none;
    }
}
}

