body {
  background-color: $bg-body;

}

h1{
  color: $color-h1;
  background-color: $bg-navbar;
  font-family: $police-logo;
}
h2{
  color: $color-h2;
  background-color: $bg-footer;
  font-family: $police-text;
}

h3{

}

h4{

}