.firstdiv{
  background-color: $main-grey;
  padding-top: 15vh;
}
.home-full-screen{
  background-image: url('/build/images/home-picture.5d9aa13c.jpg');
  background-size: cover;
}

.home-main-container{
  height: 80vh;
}

.home-logo {
  font-size: 7rem;
  font-family: $police-logo;
}

.home-slogan {
  font-size: 3.5rem;
  padding-bottom: 1.5em;
}

.home-btn-container{
  display: flex;
  button {
    border: none;
  }
}

.home-btn-main {
  background-image: linear-gradient(to right, $main-green 0%, #18e48d 51%, $main-green 100%);
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  font-size: $fs-h4;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: $main-white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}
.home-btn-second {
  background-image: linear-gradient(to right, $main-blue 0%, #5bdff5  51%, $main-blue  100%);
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  font-size: $fs-h4;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: $main-white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}

.visit-link {
  margin-top: 0;
  h2 {
    color: black;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 35px;
  }

  .home-arrow {
    margin-left: 50px;
    transition: 0.5s;
    &:hover {
      padding-left: 15px;
    }
  }
}

.main-green{
  color: $main-green;
}

.container-table {
  height: 100%;
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}


.home-page {
  .row {
    margin: 0;
  }

  .home-form-title {
    font-family: $police-logo;
    font-size: $fs-h3;
    color: $main-black;
    border-bottom: solid;
    border-bottom-color: $main-orange;
  }

  .home-form {
    font-size: $fs-h4;
  }

  .card-radius {
    background-color: transparentize($bg-navbar, 0.3);
    border-radius: 25px;
  }

  .underline {
    color: $main-grey;
    border-bottom: solid;
    border-bottom-color: $main-orange;
    &:hover {
      text-decoration: none;
    }
  }

  .non_underline {
    color: $main-grey;
    &:hover {
      text-decoration: none;
    }
  }

}

.visit-link {
  display: flex;
  align-items: center;
  position: fixed;
  right: 6vh;
}

@media screen and (max-width: 1199px) {
  .home-page{
    display: grid;
    align-items: center;

    .home-main-container{
      height: 95vh;
    }
    .container {
      max-width: 100%;
    }
    .row {
      display: block;
    }
    .container-table .row {
      margin-top: 80px;
    }
    .home-form-title {
      font-size: $fs-h3;
    }

    .home-logo {
      font-size: 3.5rem;
    }

    .home-slogan {
      font-size: 2rem;
      padding-bottom: 0.5em;
    }

    .home-form {
      font-size: $fs-h4;
    }

    .home-form-lg {
      max-width: 100%;
      justify-content: center;
    }

    .home-btn-main,
    .home-btn-second {
      padding: 8px 10px;
      margin: 30px 10px;
    }
  }
}

@media screen and (max-width: 972px) {
  .home-page {
    .home-main-container {
      height: 93vh;
    }
    .home-logo {
      font-size: 3rem;
    }
    .home-slogan {
      font-size: 2rem;
      padding-bottom: 0.1em;
    }
    .visit-link{
      margin-top: 1vh;
    }
    .row {
      margin-top: 0;
    }
    .p-3 {
      padding: 0;
    }

    .col-8,
    .col-6 {
      flex: auto;
      max-width: 100%;
    }

    .visit-link h2 {
      font-size: $fs-h3;
    }
    .fa-4x {
      font-size: 3em;
    }

    .home-form-title {
      font-size: $fs-h3;
    }

    .home-form {
      font-size: $fs-h4;
    }
  }
}

@media screen and (max-width: 375px) {
  .home-page {
    .fixed-bottom {
      bottom: 15px;
    }
    .home-logo {
      font-size: 2.5rem;
    }
    .home-slogan {
      font-size: 1.5rem;
      padding-bottom: 0.1em;
    }
    .home-btn-main{
      font-size: 1em;
    }
    .fa-4x {
      font-size: 2em;
    }
    .visit-link h2 {
      font-size: $fs-h4;
    }
    .visit-link {
      justify-content: center;
      position: static;
      margin-top: 15px;
    }

    .col-5,
    .non_underline {
      justify-content: center;
    }
  }
}

@media screen and (max-height: 375px) {
  .home-page {
    .col-8 {
      flex: auto;
      max-width: 100%;
    }
    .row {
      .row {
        display: flex;
      }
    }
    .home-btn-main,
    .home-btn-second {
      padding: 8px 10px;
      margin: 10px 30px;
    }
  }
}

@media screen and (max-height: 300px) {
  .home-page {
    .col-8 {
      flex: auto;
      max-width: 100%;
    }
    .home-slogan {
      font-size: 1.5rem;
      padding-bottom: 0.1em;
    }
  }
}
