.map-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  #map {
    position: relative;
    height: 800px;
    width: 1800px;
  }
  .buttons-filters{
    display: flex;
    flex-direction: column;
    align-items: start;
    button{
      margin: 10px;
    }
  }
}

