.navbar{
  background-color: $bg-navbar;
  display: block;
  text-align: center;
}
.logo-title{
  width:180px;
}
.logo-title .navbar-title{
  color: $main-white;
  margin-right: 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px $main-orange;

}

.navbar-title{
  font-family: $police-logo;
}

.navbar-title:hover{
  text-decoration: none;
  color: $main-white;
  font-weight: bold;
  text-shadow: 1px 1px 2px $main-orange, 0 0 1em $main-white, 0 0 0.2em $main-orange;
  font-size: 1.7rem;
}

.nav-item .nav-link{
  color: $main-white;
  font-family: $police-text;
  font-weight: bold;
}

.nav-link:hover{
  text-shadow: 1px 1px 2px $main-orange, 0 0 1em $main-white, 0 0 0.2em $main-orange
}

.nav-user{
  color:$main-orange;
  font-size: 2rem;
}
.container{
  margin-right: 0;
  margin-left: 0;
}
.navbar-nav{
  width:800px;
  display:flex;
  justify-content: space-around;
}

@media (min-width: 1800px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1800px;
}}
