.navbar{
  background-color: $main-white;
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 99;
}

.logo-design {
  width: 15%;
  zoom: normal;
}

.logo-title{
  height:55px;
  text-align: center;
  padding-top: 1vh;
}

.contain-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-title .navbar-title{
  color: $main-green;
  margin-right: 0;
  font-size: 2.7rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px $main-black;

}

.navbar-title{
  font-family: $police-logo;
}

.logo-title .navbar-title:hover{
  color: $main-orange;
  font-weight: bold;
  text-decoration: none;
}

.nav-item .nav-link{
  color: $main-black;
  font-family: $police-text;
  font-weight: bold;
}

.nav-link:hover{
  color:$main-green;
}

.nav-user {
    color:$main-orange;
    font-size: 2rem;
}
.nav-user:hover{
  color:$main-green;
}
.container{
  margin-right: 0;
  margin-left: 0;
}
.navbar-nav{
  width:50%;
  display:flex;
  justify-content: space-around;
}

.navbar-toggler-icon{
  color:$main-black;
  font-size:30px;
}
.navbar-toggler:focus{
  outline:none;
}
button .navbar-toggler-icon {
  align-items: center;
  height: 32px;
}

/*--------------------------------------------------------------------------*/

@media screen and (min-width: 768px){
  .link-footer{
    display: none;
  }
  .navbar-nav{
    margin-left:auto;
  }
  .logo-mobile{
    display: none;
  }

  .user-mobile{
    display: none;
  }
}

/*-----------------------------------------------------------------------------*/

@media screen and (max-width: 1024px){
  .logo-mobile {
    display: none;
  }

  .navbar-nav{
    margin-left: 0;
  }
  .logo-title{
    padding-left: 2vh;
    padding-top: 0.7vh;
  }
  .contain-logo{
    justify-content: right;
  }
}

@media screen and (max-width: 768px){
  .contain-logo {
    padding-top: 0;
    width: 345px;
  }

}

@media screen and (max-width: 767px){
  .logo-title{
    display: none;
  }
  .nav-user{
    display:none;
  }
  .navbar-collapse {
    flex-basis: 25%;
    flex-grow: 0;
    background-color: white;
  }
  .fa-user{
    color:$main-orange;
    font-size: 2rem;
    margin-left: 20px;
  }
  .logo-mobile .navbar-title{
    font-size: 1.9rem;
    color: $main-green;
    margin-right: 0;
    font-weight: bold;
    text-shadow: 1px 1px 2px $main-black;
  }
  .navbar-title:hover{
    text-decoration: none;
  }
  .navbar-toggler{
    padding: 0;
  }
  .logo-mobile{
    height:30px;
    width: 70%;
    display: flex;
    align-items: center;
  }
  .logo-mobile-image{
    margin-right: 1em;
    width: 15%;
    padding-bottom: 0.5em;
  }
  .logo-design {
    width: 100%;
  }

  .nav-item{
    list-style: none;
  }
  .link-footer{
    padding-left:0;
  }
  .nav-link{
    padding-left: 0;
  }
  .navbar-nav{
    padding-left:0;
  }
  .contain-logo{
    display: none;
  }
}

@media screen and (max-width: 360px){

  .navbar-toggler{
    padding: 0.25rem 0;
  }

  .logo-mobile{
    width: 80%;
  }
  .logo-mobile-image{
    padding-bottom: 0.4em;
  }
  .logo-design {
    width: 100%;
  }
}

@media screen and (max-width:320px) {
  .navbar{
    padding-left:0;
    padding-right:0;

  }

  .navbar-toggler{
    padding: 0.25rem 0.10rem;
    background-color: transparentize(white, 0.7);
  }
  .logo-mobile .navbar-title{
    margin-left: -15px;
    font-size: 1.7rem;
  }
  .fa-user{
    padding-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 280px){
  .navbar{
    display: flex;
    flex-wrap:nowrap;
  }
  .navbar-toggler{
    padding: 0.25rem 0;
  }
  .fa-user{
    margin-left: 0;
  }
  .logo-mobile .navbar-title{
    font-size: 1.5rem;
  }
  .navbar-title:hover{
    text-decoration: none;
  }

}