.profile-picture{
  max-height: 400px;
  width: auto;
}

  .profile-title-space {
    margin-left: 7em;
  }

  .profile-button {
    display: table-cell;
    background-color: $main-orange;
    color: white;
    border-radius: 500px;
    margin: 1rem;
    padding: 5px 16px;
    transition: 0.5s;

    &:hover {
      font-weight: bold;
      background-color: #e5bc70;
    }

    a {
      text-decoration: none;
      color: $main-white;
      font-size: 26px;
    }
  }

  .form-modal-service {

    .service-button {
      display: table-cell;
      background-color: $main-orange;
      color: white;
      border-radius: 500px;
      margin: 1rem;
      padding: 5px 16px;
      transition: 0.5s;

      &:hover {
        font-weight: bold;
        background-color: #e5bc70;
      }

      a {
        text-decoration: none;
        color: $main-white;
        font-size: 26px;
      }
    }

    button {
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      text-decoration: none;
      color: $main-white;
      font-size: 26px;
    }

    h3 {
      margin-top: 20px;
    }

    .close {
      color: $main-red;
    }
  }

  .form-modal-knowledge {

    .knowledge-button {
      display: table-cell;
      background-color: $main-orange;
      color: white;
      border-radius: 500px;
      margin: 1rem;
      padding: 5px 16px;
      transition: 0.5s;

      &:hover {
        font-weight: bold;
        background-color: #e5bc70;
      }

      a {
        text-decoration: none;
        color: $main-white;
        font-size: 26px;
      }
    }

    .form-check-input{
      margin-top: 0.7rem;
    }

    button {
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      text-decoration: none;
      color: $main-white;
      font-size: 26px;
    }

    h3 {
      margin-top: 20px;
    }

    .close {
      color: $main-red;
    }
  }

  .form-modal-event {

    .event-button {
      display: table-cell;
      background-color: $main-orange;
      color: white;
      border-radius: 500px;
      margin: 1rem;
      padding: 5px 16px;
      transition: 0.5s;

      &:hover {
        font-weight: bold;
        background-color: #e5bc70;
      }

      a {
        text-decoration: none;
        color: $main-white;
        font-size: 26px;
      }
    }

    button {
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      text-decoration: none;
      color: $main-white;
      font-size: 26px;
    }

    h3 {
      margin-top: 20px;
    }

    .close {
      color: $main-red;
    }
  }

  .profile-edit {
    p {
      margin-bottom: 0;
    }
  }

  .profile-informations {
    border-left: solid 5px $main-black;
    padding-left: 1rem;

    p {
      margin: 4px 0;
      font-size: 22px;
    }
  }

  .profile-main {
    p {
      margin: 4px 0;
      font-size: 22px;
    }
  }

  .profile-separation {
    width: 80%;
    border-bottom: solid 5px $main-blue;
    margin: 5em 0;
  }

  .green-string {
    color: $main-green;
  }


  .profile-main-forms {
    input, textarea, select {
      border-radius: 500px;
      border: solid 2px $main-green;
    }

    textarea {
      border-radius: 15px;
    }

    label, legend {
      margin-bottom: 0.2rem;
      margin-top: 0.5rem;
      font-weight: bold;
    }
  }

  .validate-button {
    all: unset;
    background-color: $main-green;
    color: $main-white;
    border-radius: 500px;
    margin-top: 7px;
    padding: 5px 20px;
  }

  .custom-file-input {
    opacity: 100%;
  }

  .custom-file-label {
    opacity: 0;
  }

  .form-edit-user {
    .form-check {
      display: none;
    }

    a {
      display: none;
    }
  }

  .picture-event {
    width: 400px;
    height: 200px;
    object-fit: contain;
  }

  .picture-service {
    width: 400px;
    height: 200px;
    object-fit: contain;
  }


  .delete-btn {
    justify-content: center;
    align-items: center;
    color: $main-orange;

    &:hover {
      color: $main-red;
    }
  }

  button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

@media screen and (max-width: 1200px) {
  .profile-informations {
    border-left: initial;
    margin-top: 2em;
    padding: 0;
  }
  .profile-date-hour{
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 993px) {
  .form-service, .form-event .form-edit-user {
    margin-right: 2em;
  }
}

@media screen and (max-width: 992px) {
  .profile-text-center{
    max-width: 80%;
    .profile-main-forms {
      margin: 3px;
      flex: 0 0 80%;
    }
  }
  .profile-main-forms {
    margin: 3px;
    flex: 0 0 80%;
    max-width: 80%;
  }
  .card-container{
    margin: 0;
  }
}

@media screen and (max-width: 770px) {
  .show-items .part-title {
    margin-top: 2em;
  }

  .profile-picture{
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 575px) {
  .profile-text-center{
    text-align: center;
  }
}

@media screen and (min-width: 440px) {
  .flex {
    display: flex;
  }
}

.adeli-notes {
  font-size: 100%;
  a{
    color: $main-blue;
    display: inline;
    &:hover{
      text-decoration: none;
      font-weight: bold;
    }
  }
}
