.container-fluid-propos{
  .img-container{
    width: 400px;
    text-align: center;
  }
}

.propos-img-container{
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.propos-part-title {
  display: flex;
  justify-content: center;
}

.propos-part-title-margin {
  margin-top: 2em;
}

@media screen and (min-width: 540px) {
  .propos-part-title-margin {
    margin-top: 3em;
  }
}


@media screen and (max-width: 768px){
  .container-fluid-propos{
    p{
      width:80%;
      margin-left: auto;
      margin-right: auto;
    }
    .propos-img-container{
      margin-left: auto;
      margin-right: auto;
    }
    img{
      margin-bottom: 1em;
    }

    .part-title{
      margin-bottom: 1em;
    }
  }
}




@media screen and (max-width: 540px){
  .container-fluid-propos{
    p{
      width:90%;
      margin-left: auto;
      margin-right: auto;
    }
    img{
      margin-bottom: 1em;
    }
    .propos-img-container{
      text-align: left;
    }

    .part-title{
      margin-bottom: 1em;
    }
  }
}


