.register-success {
  .register-title {
    color: $main-orange;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .info-register {
    color: $main-black;
  }
  .paragraph-info {
    color: $main-green;
  }
}
