.search {
  margin-bottom: 6em;
  form{
    display: flex;
    justify-content: center;
    margin-left: 5em;
  }
  .search-button{
    padding: 7px 7px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 0;
    background-image: linear-gradient(to right, $main-orange 0%, #ffdc58 51%, $main-orange 100%);
  }
  #search_service_form {
    display: flex;
    justify-content: center;
    input{
      width: 500px;
      border-radius: 20px;
      height: 40px;
    }
  }
}

.ressource-caroussel{
  padding-top: 6vh;
}

.card-container{
  margin: 0 1vh 4vh 1vh;
}

.next-event {
  margin-bottom: 5vh;
  flex-direction: column;
  align-items: center;
}

.col-card{
  margin-bottom: 6vh;
  margin-right: 2vh;
  margin-left: 2vh;
}
