.search-bar{
  padding-top: 3vh;
}

.ressource-caroussel{
  padding-top: 6vh;
}

.card-container{
  margin: 0 1vh 4vh 1vh;
}

.next-event {
  margin-bottom: 5vh;
  flex-direction: column;
  align-items: center;
}

.col-card{
  margin-bottom: 6vh;
  margin-right: 2vh;
  margin-left: 2vh;
}