.container-fluid-resource{
  .firstdiv{
    height: 50em;
    background-image: url('../images/brooke-lark-t7wg7BJU2-s-unsplash.jpg');
    background-size: 115em;
    display: flex;
    justify-content: center;
    .cadre-title{
      text-align: center;
      background-color: #ffffffe0;
      font-size: 3em;
      font-family: $police-logo;
      width: 50%;
      border-style: double;
      border-color: $main-orange;
      height: 50%;
      padding-top: 1em;
      color: $main-green;
      font-weight: bold;
      border-radius: 20px;
      margin-top: 2.5em;
    }
    .plateform{
      font-family: $police-text;
      font-size: 0.8em;
      color: #929eaa;
    }
    .fas{
      color: $main-orange;
      outline:none;
    }
    button:focus {
      border: none;
      outline:none;
    }
  }
  .card-container{
    margin: 0 1vh 4vh 1vh;
  }
  .col-card{
    margin-bottom: 6vh;
    margin-right: 2vh;
    margin-left: 2vh;
  }
  .next-event {
    .font-weight-bold{
      margin-top: 2em;
      margin-bottom: 1em;
    }
    flex-direction: column;
    align-items: center;
    text-align: center;
    .fas{
      margin: 1em 1em 1em 0;
      color: $main-green;
    }
    .far{
      margin: 0 1em;
      color: $main-green;
    }
  }
  .next-knowledge{
    margin-bottom: 5vh;
    text-align: center;
    .next-knowledge-title{
      margin-top: 2em;
      .fas{
        margin: 1em 1em 1em 0;
        color: $main-green;
      }
    }
  }
  .next-service{
    margin-bottom: 5vh;
    text-align: center;
    .fas{
      margin: 1em 1em 1em 0;
      color: $main-green;
    }
  }
  .modal-resource {
    height: 80vh;
  }
  .ressource-link{
    display: flex;
    justify-content: center;
    width: 80%;
    border-bottom: 1px solid #dee2e6;
  }
  .ressource-link-button {
    margin: 0.5rem;
    border: solid 1px;
    border-color: $main-blue;
    border-radius: 4px;
    &:hover {
      color: #fff;
      background-color: $main-blue;
    }
  }

  .ressource-modal-title {
    font-style: italic;
    font-weight: 600;
  }

  .ressource-modal-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    &:hover {
      color: #fff;
    }
  }

  .buttons-search-bar {
    width: 9em;
    height: 2.5em;
  }

  .search-all-form-container form{
    margin-left: 0;
  }

  .card-img-overlay{
    .fas{
      margin-top: 0.75em;
    }

    .form-resource{
      .form-check-input{
        margin-top: 0.7rem;
      }
    }

  }

  @media screen and (min-width: 1381px){
    .firstdiv {
      .cadre-title {
        width: 55%;
      }
    }
  }

  @media screen and (max-width: 1380px) {
    .firstdiv {
      height: 41em;
      .cadre-title {
        font-size: 28pt;
      }
    }
  }
  @media (max-width: 1200px) and (min-width: 771px){
  .firstdiv {
    height: 42em;
    background-size: 80em;
    .cadre-title {
      width: 60%;
      font-size: 25pt;
    }
  }
  }
  @media screen and (max-width: 770px){
    .firstdiv {
      height: 35em;
      background-size: 55em;
      .cadre-title {
        width: 65%;
        font-size: 20pt;
      }
    }
    .card-container{
      margin: 0;
    }
    .profile-main-forms{
      flex: 0 0 80%;
    }
  }
  @media screen and (max-width: 655px){
    .firstdiv {
      height: 25em;
      background-size: 45em;
      .cadre-title {
        width: 65%;
        font-size: 15pt;
      }
    }
  }
  @media screen and (max-width: 511px){
    .firstdiv {
      height: 20em;
      .cadre-title {
        font-size: 12pt;
      }
    }
    .next-service, .next-knowledge, .next-event {
      h3 {
        font-size: 15pt;
      }
    }

  }

  @media screen and (max-width: 380px) {
    .firstdiv {
      height: 18em;

      .cadre-title {
        font-size: 10pt;
      }
    }
  }
}
