.service {
  .search {
    margin-bottom: 6em;
    form{
      display: flex;
      justify-content: center;
      margin-left: 1em;
    }
    .search-button{
      padding: 7px 7px;
      margin-left: 10px;
      border-radius: 20px;
      margin-top: 0;
      background-image: linear-gradient(to right, $main-orange 0%, #ffdc58 51%, $main-orange 100%);
    }

    .search-loop {
      display: none;
    }
    #search_resource_form {
      display: flex;
      justify-content: center;
      input{
        width: 500px;
        border-radius: 20px;
        height: 40px;
      }
    }
  }


  .picture-event{
    width: 400px;
    height: 200px;
  }
  .form-modal {
    .service-button {
      display: table-cell;
      background-color: $main-green;
      color: white;
      border-radius: 500px;
      margin:1rem;
      padding:5px 16px;
      transition: 0.5s;
      &:hover{
        font-weight: bold;
        background-color: #18e48d;
      }
      a {
        text-decoration: none;
        color: $main-white;
        font-size: 26px;
      }
    }
    button {
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      text-decoration: none;
      color: $main-white;
      font-size: 26px;
    }
    h3 {
      margin-top: 20px;
    }
    .close {
      color: $main-red;
    }
  }


  .text-container{
    margin: 1em 0;
  }

  .container-fluid-service{
    .nav-item{
      list-style-type: none;
    }
  }

  @media screen and (max-width: 834px) {
    .search {
      #search_service_form {
        margin-left: 0;
        input {
          width: 400px;
        }
      }
      .search-text {
        display: none;
      }
        .search-loop {
          display: flex;
          width: 40px;
          height: 40px;
          font-size: 18pt;
          margin-bottom: 0;
        }
      }

  }
  @media screen and (max-width: 770px){
    h3{
      font-size: 25px;
    }
    .part-title{
      margin-top: 0px;
    }
    #service-textarea{
      width: 300px;
    }

    .img-container{
      img{
        width: 300px;
        height: auto;
      }
    }
    .form-service{
      padding-bottom: 5em;
    }
  }
  @media screen and (max-width: 540px){
    h3{
      font-size: 25px;
    }
    .part-title{
      margin-top: 0;
    }
    #service-textarea{
      width: 300px;
    }


    .img-container{
      text-align: center;
      img{
        width: 300px;
        height: auto;
      }
    }
    .form-service{
      padding-bottom: 5em;
    }

    .text-container{
      margin-bottom: 3em;
      margin-left: 2em;
      margin-right: 2em;
    }
  }
  @media (min-width: 450px) and (max-width: 550px ) {
    .search {
      #search_resource_form {
        form {
          align-items: center;
          margin-right: 2em;
        }
        input {
          width: 300px;
        }
      }
    }
  }
  @media screen and (max-width: 450px) {
    .page-title {
      font-size: 40px;
      margin-top: 3em;
    }
    .search {
      #search_resource_form {
        input {
          width: 250px;
        }
        form {
          align-items: center;
          margin-right: 50px;
        }
      }
    }
  }

  @media screen and (max-width: 350px) {
    .page-title {
      font-size: 30px;
      margin-bottom: 1em;
    }
    .search {
      #search_resource_form {
        input {
          width: 200px;
        }
      }
    }
  }
}

