/*Main colors*/
$main-green: #27B87A;
$main-black: #262626;
$main-white: #F5F5F5;
$main-blue: #0dc7e6;

/*Background Color*/
$bg-body: #f5f5f5;        /*Blanc*/
$bg-navbar: #09b175;      /*Vert*/
$bg-footer: #262626;      /*Noir*/
$bg-titleCard: #f49f04;   /*Orange*/

/*Police*/
$police-logo: handlee;
$police-text: Raleway, sans-serif;

/*Font size*/
$fs-h1: 65px;
$fs-h2: 24px;
$fs-h3: 20px;
$fs-h4: 18px;
$fs-h5: 16px;

/*Police color*/
$color-h1: $main-green;
$color-h2: $main-green;
$color-h3: $main-black;
$color-h4: $main-black;
$color-h5: $main-black;

