/*Main colors*/
$main-color: #27B87A;

/*Background Color*/
$bg-body: #f5f5f5;        /*Blanc*/
$bg-navbar: #09b175;      /*Vert*/
$bg-footer: #262626;      /*Noir*/
$bg-titleCard: #f49f04;   /*Orange*/

/*Police*/
$police-logo: handlee;
$police-text: Raleway, sans-serif;

/*Font size*/
$fs-h1: 65px;
$fs-h2: 24px;
$fs-h3: 20px;
$fs-h4: 18px;
$fs-h5: 16px;

/*Police color*/
$color-h1: #eeeeee;
$color-h2: #f5f5f5;
$color-h3: #f5f5f5;
$color-h4: #f5f5f5;
$color-h5: #f5f5f5;


/*Nav color*/
$color-nav-item: #f5f5f5;
$color-effect: #f49f04;
$color-nav-bg: #09b175;

