/*Background Color*/
$bg-body: #f5f5f5;        /*Blanc*/
$bg-navbar: #09b175;      /*Vert*/
$bg-footer: #262626;      /*Noir*/
$bg-titleCard: #f49f04;   /*Orange*/

/*Police*/
$police-logo: handlee;
$police-text: raleway;

/*Font size*/
$fs-h1: 65 px;
$fs-h2: 24 px;
$fs-h3: 20 px;
$fs-h4: 18 px;
$fs-h5: 16 px;

/*Police color*/
$color-h1: #eeeeee;
$color-h2: #f5f5f5;
$color-h3: #f5f5f5;
$color-h4: #f5f5f5;
$color-h5: #f5f5f5;
