<div class="box">
    <div class="box-inner">
        <div class="box-front ">
            <img
                    src="https://picsum.photos/200/300?random={{ i }}"
                    class="card-img "
                    alt="..."
            />

            <div class="card-img-overlay ">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="box-back shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <button type="button" class="btn text-white">Button</button>
            </div>
        </div>
    </div>
</div>
