<div class="box">
    <div class="box-inner">
        <div class="box-front">
            <img
                    src="https://mdbootstrap.com/img/new/slides/017.jpg"
                    class="card-img"
                    alt="..."
            />
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="box-back">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <button type="button" class="btn btn-primary">Button</button>
            </div>
        </div>
    </div>
</div>
