<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                    class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            {% for i in 100..103 %}
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                         src="https://picsum.photos/450/300?random={{ i }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            {% for i in 110..113 %}
                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top"
                             src="https://picsum.photos/450/300?random={{ i }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!--/.Second slide-->



    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
