<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
       <div class="container">
            <div class="row row-footer">
                <div class="row-md-2 row-sm-6 block-item-footer">
                    <div class="col-md-2 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('propos') }}">A propos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <ul class="list-unstyled">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin') }}">Admin</a></li>
                            {% else %}
                                <li><a href="#">Admin</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
                <div class="row row-footer">
                    <div class="col-md-12 copy">
                        <p class="text-center p">Copyright 2020 - Wild Code School.  All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
