<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
       <div class="container">
            <div class="row row-footer">
                <div class="row-md-2 row-sm-6 block-item-footer">
                    <div class="col-md-2 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('contact_index') }}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('propos') }}">A propos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <ul class="list-unstyled">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin') }}">Admin</a></li>
                            {% else %}
                                <li><a href="{{ path('ressource_index') }}">Admin</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
                <div class="row row-footer">
                    <div class="col-md-12 copy">
                        <p class="text-center p">Copyright 2020 - Wild Code School. Développé par <a href="https://www.linkedin.com/in/edwige-gounou-7a015a200/" target="_blank">Edwige Gounou</a>, <a href="https://www.linkedin.com/in/thierry-dufosse/" target="_blank">Thierry Dufosse</a>, <a href="https://www.linkedin.com/in/s%C3%A9bastien-kusz/" target="_blank">Sebastien Kusz</a>, <a href="https://www.linkedin.com/in/benjamin-touboul/" target="_blank">Benjamin Touboul</a> et <a href="https://www.linkedin.com/in/claire-daudignon-8b88a4200/" target="_blank">Claire Daudignon</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
