<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
</button>
{% if app.user %}
    <div id="nouvel-evenement">
        <h3 class="part-title">Veuillez compléter votre profil pour créer du contenu</h3>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{{ path('profile_profil_edit', {'id': app.user.id}) }}" class="btn" >Modifier mon profil </a>
    </div>
{% else %}
    <div id="nouvel-evenement">
        <h3 class="part-title">Veuillez créer un profil ou vous connecter à votre profil</h3>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{{ path('home') }}" class="btn" > Page de connection </a>
    </div>
{% endif %}