{% block header %}
    <!--Navbar-->

    <nav class="navbar navbar-expand-md ">

        <div class="container">


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
            </button>


            <!-- Collapsible content -->
            <div class="collapse navbar-collapse mb-1" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Evènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Forum</a>
                    </li>
                </ul>
                <div class="logo-title">
                    <a class="navbar-title " href="#">Nous les diets</a>
                </div>

                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a href="#!" class="nav-link">Services </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!">Mon espace</a>
                    </li>
                </ul>
                <div class="nav-user">
                    <i class=" fas fa-user"></i>
                </div>




            </div>
            <!-- Collapsible content -->

        </div>


    </nav>


    <!--/.Navbar-->

{% endblock %}
