<button type="button" class="close" data-dismiss="modal" aria-label="Close" xmlns="http://www.w3.org/1999/html">
    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
</button>
<div id="nouvel-evenement">
    <h3 class="part-title">Veuillez vous inscrire sur Stripe (plateforme de gestion de paiement sécurisées) pour créer du contenu payant </h3>
</div>
<div>
    <p> Attention ! Votre IBAN et des papiers administratifs vous seront demandés afin de vous verser le bénéfice de vos produits vendus. </br>
        Toutes les informations recueillies par Stripe sont sécurisées et confidentielles, elles ne seront en aucun cas divulguées.
        Voir les Conditions Générales de Vente.
    </p>
</div>

