<div>
    <h3 class="part-title">Mes connaissances :</h3>
</div>
<div class="d-flex flex-wrap justify-content-center">
    {% for resource in resources %}
        {% include 'component/ressource/_ressource_informations.html.twig' %}
        <div class="card-container justify-content-center">
            <div>
                {% include '/component/_card.html.twig' %}
                {% if resources_purchased_count[resource.id] is defined %}
                <p>Achetée {{ resources_purchased_count[resource.id] }} fois</p>
                {% endif %}
                {% if resources_buyer[resource.id] is defined %}
                <div>
                <button type="button" class="btn" data-toggle="modal" data-target="#modal_buyer">
                    Voir les participants
                </button>

                        {% include '/component/_modal_buyers.html.twig' %}

                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div>
    <h3 class="part-title">Mes événements :</h3>
</div>
<div class="d-flex flex-wrap justify-content-center">
    {% for event_organized in events_organized %}
        <div class="card-container justify-content-center">
            {% include 'component/event/_event_informations.html.twig' %}
                <div class="card-container justify-content-center">
                    <div class="test-card">
                        {% include '/component/_card.html.twig' %}
                    </div>
                </div>
        </div>
    {% endfor %}
</div>

<div>
    <h3 class="part-title">Mes services :</h3>
</div>
<div class="d-flex flex-wrap justify-content-center">
    {% for service in services %}
        <div class="card-container justify-content-center">
            {% include 'component/service/_service_informations.html.twig' %}
                <div class="card-container justify-content-center">
                    <div class="test-card">
                        {% include '/component/_card.html.twig' %}
                    </div>
                </div>
        </div>
    {% endfor %}
</div>
