<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/realises/v5.10.1/css/all.css">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% block navbar %}{% include 'component/_nav.html.twig' %}{% endblock %}
</header>

{% block body %}{% endblock %}
<footer>
    {% include 'component/_footer.html.twig' %}
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
