{% extends 'home.html.twig' %}


{% block title %}
    Bienvenue
{% endblock %}

{% block body_home %}
    <header>
        {% include 'component/_nav.html.twig' %}
    </header>
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="mt-8 alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    {% block body %}{% endblock %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block contact %}{% endblock %}

    <footer>
        {% include 'component/_footer.html.twig' %}
    </footer>
{% endblock %}
