{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
    <div class="pt-5">
        <h1 class="pt-5">Erreur survenue lors de votre achat</h1>
    </div>

{% endblock %}
