{% extends 'base.html.twig' %}

{% block title %}Paiement accepté{% endblock %}

{% block body %}
    <div class="pt-5">
        <h1 class="pt-5">Paiement accepté</h1>

        {% if basket is defined %}

        {% endif %}
    </div>
{% endblock %}
