{% extends 'base.html.twig' %}

{% block title %}Paiement accepté{% endblock %}

{% block body %}
    <div class="pt-5 payment-success">
        <h1 class="pt-5 mb-5 text-center title-payment-success">Paiement accepté</h1>

        {% if purchased_resource is not empty %}
                {% if purchased_resource.resourceFiles is not empty %}
                    <h3 class="text-center mb-5">Ci-dessous le lien de téléchargement:</h3>
                {% for resourceFile in purchased_resource.resourceFiles %}
                    <a class="d-flex justify-content-center mb-5" href="/uploads/resources/{{ resourceFile.name }}" target="_blank"><i class="{{ resourceFile.resource.resourceFormat.icon }}"></i></a>
                {% endfor %}
                {% endif %}
                {% if purchased_resource.link is not empty %}
                    <h3 class="text-center mb-5">Lien à conserver (nous vous conseillons de le copier dans un de vos fichier car vous ne pourrez plus y accéder par la suite):</h3>
                    <a class="d-flex justify-content-center" href="{{ purchased_resource.link }}" target="_blank">{{ purchased_resource.link }}</a>
                {% endif %}
        {% endif %}
    </div>
{% endblock %}
