{% extends 'base.html.twig' %}

{% block title %}Inscription Stripe Validée{% endblock %}

{% block body %}
    <div class="pt-5">
        <h1 class="pt-5">Inscription Stripe validée !!!
        </h1>
        <h3> Vous venez de vous inscrire : Veuillez finaliser en ajoutant votre pièce d'identité et votre justificatif de domicile en cliquant sur le bouton 'Accès à vos informations et compte Stripe pour vos virements' (de votre page de profil) afin de recevoir les paiements de vos produits.
        Une fois celà fait vous pouvez commencer à poster vos visio et connaissances payantes !!!
        (Pour toutes questions RDV sur la page contact).
        </h3>
        <h4>Si vous avez déjà ajouter vos documents ne tenez pas compte de ce message.</h4>
    </div>
{% endblock %}
