{% extends 'base.html.twig' %}

{% block title %}Paiement accepté pour votre abonnement{% endblock %}

{% block body %}
    <div class="pt-5">
        <h1 class="pt-5">Paiement accepté, votre abonnement est bien mis en place, profitez-en bien !!!</h1>
    </div>
{% endblock %}
